<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joker.person_provider_8081.mapper.PersonMapper">

<!--    -->
    <resultMap id="PersonMap" type="com.joker.common.pojo.Person">
        <id column="user_id" property="user_id" jdbcType="INTEGER" />
        <result column="user_lev" jdbcType="INTEGER" property="user_lev" />
        <result column="user_password" jdbcType="VARCHAR" property="user_password" />
        <result column="user_email" jdbcType="VARCHAR" property="user_email" />
        <result column="user_address" jdbcType="VARCHAR" property="user_address" />
        <result column="user_banner_img" jdbcType="VARCHAR" property="user_banner_img" />
        <result column="user_telephone" jdbcType="VARCHAR" property="user_telephone" />
        <result column="user_introduce" jdbcType="VARCHAR" property="user_introduce" />
        <result column="user_password" jdbcType="VARCHAR" property="user_password" />
        <result column="user_money"  property="user_money" jdbcType="DOUBLE"/>

    </resultMap>

    <select id="CheckLogin" resultType="int">
        SELECT * FROM person where user_id=#{user_id}and user_password=#{user_password}
    </select>

</mapper>