<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="personprovider8081.mapper.PersonMapper">

    <!--    -->
    <resultMap id="GoodMap" type="common.pojo.Impl.GoodsPerson">

        <id column="goods_id" property="goods_id" jdbcType="INTEGER"/>

        <result column="goods_type" jdbcType="INTEGER" property="goods_type"/>
        <result column="surplus" jdbcType="INTEGER" property="surplus"/>
        <result column="sale" jdbcType="INTEGER" property="sale"/>

        <result column="goods_name" jdbcType="VARCHAR" property="goods_name"/>
        <result column="priviewInformation" jdbcType="VARCHAR" property="priviewInformation"/>
        <result column="banner_img" jdbcType="VARCHAR" property="banner_img"/>
        <result column="seller_id" jdbcType="INTEGER" property="seller_id"/>

        <result column="original_price" jdbcType="DOUBLE" property="original_price"/>
        <result column="sell_price" jdbcType="DOUBLE" property="sell_price"/>

        <!--        这里是 商品中店家的信息 -->
        <association property="person" javaType="common.pojo.Person">
            <!-- id:声明主键，表示user_id是关联查询对象的唯一标识-->
            <id column="user_id" property="user_id" jdbcType="INTEGER"/>
            <result column="user_lev" jdbcType="INTEGER" property="user_lev"/>
            <result column="user_gender" jdbcType="INTEGER" property="user_gender"/>
            <result column="user_password" jdbcType="VARCHAR" property="user_password"/>
            <result column="user_email" jdbcType="VARCHAR" property="user_email"/>
            <result column="user_address" jdbcType="VARCHAR" property="user_address"/>
            <result column="user_banner_img" jdbcType="VARCHAR" property="user_banner_img"/>
            <result column="user_telephone" jdbcType="VARCHAR" property="user_telephone"/>
            <result column="user_introduce" jdbcType="VARCHAR" property="user_introduce"/>
            <result column="user_password" jdbcType="VARCHAR" property="user_password"/>
            <result column="user_money" property="user_money" jdbcType="DOUBLE"/>
        </association>
    </resultMap>

    <select id="FindGoodOne" resultMap="GoodMap">
       select * from goods left join person on seller_id=user_id;
    </select>

    <select id="FindGoodTwo" resultMap="GoodMap">
       select * from goods left join person on seller_id=user_id;
    </select>

    <select id="FindGoodRank" resultMap="GoodMap">
       select * from goods left join person on seller_id=user_id;
    </select>

    <select id="FindGoodsById" resultMap="GoodMap">
       select * from goods left join person on seller_id=user_id where goods_id=#{goods_id}
    </select>


    <insert id="AddGoods" parameterType="common.pojo.Goods">
    insert into
    goods(
       goods_name,
       goods_type,
       seller_id,
       banner_img,
       priviewInformation,
       sell_price,
       original_price,
       surplus,
       sale)
     values(
      #{goods_name},
      #{goods_type},
      #{seller_id},
      #{banner_img},
      #{ priviewInformation},
      #{ sell_price},
      #{original_price},
      #{surplus},
      #{ sale});
    </insert>

    <update id="ModifyGoods" parameterType="common.pojo.Goods">

        update goods
        <set>
            <if test="goods_name!=null and goods_name=''">
                goods_name=#{goods_name}
            </if>
            <if test="goods_type !=null and goods_type=''">
                goods_type=#{goods_type}
            </if>

            <if test="seller_id!=null and seller_id=''">
                seller_id=#{seller_id}
            </if>
            <if test="banner_img!=null and banner_img=''">
                banner_img=#{banner_img}
            </if>
            <if test="priviewInformation!=null and priviewInformation=''">
                priviewInformation=#{priviewInformation}
            </if>
            <if test=" sell_price!=null and  sell_price=''">
                sell_price=#{ sell_price}
            </if>
            <if test="original_price!=null and original_price=''">
                original_price=#{original_price}
            </if>

            <if test="surplus!=null and surplus=''">
                surplus=#{surplus}
            </if>
            <if test="sale!=null and sale=''">
                sale=#{sale}
            </if>

        </set>
        where goods_id=#{goods_id}
    </update>


</mapper>